@model ProfileViewModel

@{
    var profileimg = Model.CurrentUser.ImageUrl != null ? Model.CurrentUser.ImageUrl : "/assets/images/my-profile.jpg";
}

<div class="content-page-box-area">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <aside class="widget-area">
                <div class="widget widget-view-profile">
                    <div class="profile-box d-flex justify-content-between align-items-center">

                        <a asp-controller="myprofile" asp-action="index"><img src="@profileimg" " alt="image" height="250px" width="250px"></a>
                        <div class="text ms-2">
                            <h3><a asp-controller="myprofile" asp-action="index">@ViewBag.User.UserName</a></h3>
                            <span>Baku</span>
                        </div>
                    </div>
                    <ul class="profile-statistics">
                        <li>
                            <a href="#">
                                <span class="item-number">59862</span>
                                <span class="item-text">Likes</span>
                            </a>
                        </li>
                    </ul>
                    <div class="profile-likes">
                        <span><i class="flaticon-heart-shape-outline"></i> New Likes This Week</span>

                        <ul>
                            <li>
                                <a href="#"><img src="assets/images/user/user-22.jpg" alt="image"></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/user/user-23.jpg" alt="image"></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/user/user-24.jpg" alt="image"></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/user/user-25.jpg" alt="image"></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/user/user-26.jpg" alt="image"></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/user/user-27.jpg" alt="image"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="profile-btn">
                        <a asp-controller="myprofile" asp-action="index" class="default-btn">View Profile</a>
                    </div>
                </div>
            </aside>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="news-feed-area">
                <div class="news-feed news-feed-form">
                    <h3 class="news-feed-title">Create New Post</h3>


                    <form id="postForm" asp-action="Post" asp-controller="Home" enctype="multipart/form-data">
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" placeholder="Write something here..."></textarea>
                        </div>
                        <ul class="button-group d-flex justify-content-between align-items-center">
                            <li class="photo-btn">
                                <input type="file" id="photoInput" name="photo" accept="image/*" style="display:none;" onchange="handlePhotoInput()" />
                                @* <input type="file" id="photoInput" name="photo" accept="image/*" style="display:none;" onchange="previewImage('photoInput', 'photoPreview')" /> *@
                                <label for="photoInput"><i class="flaticon-gallery"></i> Photo</label>
                                <img id="photoPreview" src="#" alt="Preview" style="display:none; max-width: 100%;" />
                            </li>
                            <li class="video-btn">
                                <input type="file" id="videoInput" name="video" accept="video/*" style="display:none;" onchange="handleVideoInput()" />
                                @* <input type="file" id="videoInput" name="video" accept="video/*" style="display:none;" onchange="previewVideo('videoInput', 'videoPreview')" /> *@
                                <label for="videoInput"><i class="flaticon-video"></i> Video</label>
                                <video id="videoPreview" src="#" alt="Preview" style="display:none; max-width: 100%;" controls></video>
                            </li>
                            <li class="post-btn">
                                <button type="button" onclick="submitPost()">Post</button>
                            </li>
                        </ul>
                    </form>
                </div>


                @if(Model.Posts.Count>0){
                @foreach (var item in Model.Posts)
                {

                    <div class="news-feed news-feed-post" >
                        <div class="post-header d-flex justify-content-between align-items-center">
                            <div class="image">
                                <a asp-controller="myprofile" asp-action="index"><img src="@item.User.ImageUrl" class="rounded-circle" alt="image"></a>
                            </div>
                            <div class="info ms-3">
                                <span class="name"><a asp-controller="myprofile" asp-action="index">@item.User.UserName</a></span>
                                <span class="small-text"><a href="#">@item.Time.ToShortTimeString()</a></span>
                            </div>
                            @*                         <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-menu"></i></button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-edit"></i> Edit Post</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-private"></i> Hide Post</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-trash"></i> Delete Post</a></li>
                        </ul>
                        </div> *@
                        </div>

                        <div class="post-body">
                            <p>@item.Content</p>
                            <div class="post-image">
                                @if (item.ImageUrl != null)
                                {

                                    <img src="\@item.ImageUrl" alt="image">
                                }
                            </div>
                            @if (item.VideoUrl != null)
                            {
                                <div class="post-image">

                                    <video src="\@item.ImageUrl" alt="image"></video>
                                </div>
                            }


                            <ul class="post-meta-wrap d-flex justify-content-between align-items-center">
                                <li class="post-react">
                                        <a href=""><i class="flaticon-like"></i><span>Like</span> <span class="number">@item.LikeCount </span></a>

                                    <ul class="react-list">
                                        <li>
                                                <button onclick="like(@item.Id)"><img src="assets/images/react/react-1.png" alt="Like"></button>
                                        </li>
                                    </ul>
                                </li>
                                @if (item.Comments != null && item.Comments.Count > 0)
                                {
                                    <li class="post-comment">
                                            <button><i class="flaticon-comment"></i><span>Comment</span> <span class="number">@item.Comments.Count</span></button>
                                    </li>
                                }
                            </ul>
                            <div class="post-comment-list">
                                @if (item.Comments != null && item.Comments.Count > 0)
                                {
                                    @foreach (var comment in item.Comments)
                                    {
                                        <div class="comment-list">
                                            <div class="comment-image">
                                                <a asp-controller="myprofile" asp-action="index"><img src="@comment.Sender.ImageUrl" class="rounded-circle" alt="image"></a>
                                            </div>
                                            <div class="comment-info">
                                                <h3>
                                                    <a asp-controller="myprofile" asp-action="index">@comment.Sender.UserName</a>
                                                </h3>
                                                <span>@comment.Time.ToShortTimeString()</span>
                                                <p>@comment.Content</p>

                                            </div>

                                        </div>
                                    }
                                }
                                @*                                 <div class="comment-list">
                            <div class="comment-image">
                            <a asp-controller="myprofile" asp-action="index"><img src="assets/images/user/user-34.jpg" class="rounded-circle" alt="image"></a>
                            </div>
                            <div class="comment-info">
                            <h3>
                            <a asp-controller="myprofile" asp-action="index">Claire P. Toy</a>
                            </h3>
                            <span>45 Mins Ago</span>
                            <p>Donec rutrum congue leo eget malesuada praesent sapien massa convallis a pellentesque nec egestas non nisi curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                            <ul class="comment-react">
                            <li><a href="#" class="like">Like(12)</a></li>
                            <li><a href="#">Reply</a></li>
                            </ul>
                            </div>
                            </div>
                            <div class="comment-list">
                            <div class="comment-image">
                            <a asp-controller="myprofile" asp-action="index"><img src="assets/images/user/user-8.jpg" class="rounded-circle" alt="image"></a>
                            </div>
                            <div class="comment-info">
                            <h3>
                            <a asp-controller="myprofile" asp-action="index">Karen Williams</a>
                            </h3>
                            <span>5 Mins Ago</span>
                            <p>Donec rutrum congue leo eget malesuada nulla quis lorem ut libero malesuada feugiat donec rutrum congue leo eget.</p>
                            <ul class="comment-react">
                            <li><a href="#" class="like">Like(2)</a></li>
                            <li><a href="#">Reply</a></li>
                            </ul>
                            </div>
                            </div> *@
                                <div class="more-comments">
                                    <a href="#">More Comments+</a>
                                </div>
                            </div>
                            <form class="post-footer">
                                <div class="footer-image">
                                    <a href="#"><img src="assets/images/user/user-1.jpg" class="rounded-circle" alt="image"></a>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Write a comment..."></textarea>
                                    <label><a href="#"><i class="flaticon-photo-camera"></i></a></label>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                }

                <div class="load-more-posts-btn">
                    <a href="#"><i class="flaticon-loading"></i> Load More Posts</a>
                </div>
            </div>
        </div>

@*         <div class="col-lg-3 col-md-12">
            <aside class="widget-area">
                <div class="widget widget-weather">
                    <div class="weather-image">
                        <a href="#"><img src="assets/images/weather/weather.jpg" alt="image"></a>
                    </div>
                </div>
                <div class="widget widget-birthday">
                    <div class="birthday-title d-flex justify-content-between align-items-center">
                        <h3>Today Birthdays</h3>
                        <span><a href="#">See All</a></span>
                    </div>
                    <article class="item">
                        <a href="#" class="thumb">
                            <span class="fullimage bg1" role="img"></span>
                        </a>

                        <div class="info">
                            <h4 class="title">
                                <a href="#">Earline Benally</a>
                            </h4>
                            <span>Today</span>
                        </div>
                    </article>
                    <article class="item">
                        <a href="#" class="thumb">
                            <span class="fullimage bg2" role="img"></span>
                        </a>

                        <div class="info">
                            <h4 class="title">
                                <a href="#">Jack Gulley</a>
                            </h4>
                            <span>Today</span>
                        </div>
                    </article>

                    <div class="birthday-title d-flex justify-content-between align-items-center">
                        <h3>Recent Birthdays</h3>
                        <span><a href="#">See All</a></span>
                    </div>
                    <article class="item">
                        <a href="#" class="thumb">
                            <span class="fullimage bg3" role="img"></span>
                        </a>

                        <div class="info">
                            <h4 class="title">
                                <a href="#">Lolita Benally</a>
                            </h4>
                            <span>May 18</span>
                        </div>
                    </article>
                    <article class="item">
                        <a href="#" class="thumb">
                            <span class="fullimage bg4" role="img"></span>
                        </a>

                        <div class="info">
                            <h4 class="title">
                                <a href="#">Russell Gulley</a>
                            </h4>
                            <span>May 20</span>
                        </div>
                    </article>

                    <div class="birthday-title d-flex justify-content-between align-items-center">
                        <h3>Coming Birthdays</h3>
                        <span><a href="#">See All</a></span>
                    </div>
                    <article class="item">
                        <a href="#" class="thumb">
                            <span class="fullimage bg5" role="img"></span>
                        </a>

                        <div class="info">
                            <h4 class="title">
                                <a href="#">Cindy L. Wilson</a>
                            </h4>
                            <span>July 18</span>
                        </div>
                    </article>
                    <article class="item">
                        <a href="#" class="thumb">
                            <span class="fullimage bg6" role="img"></span>
                        </a>

                        <div class="info">
                            <h4 class="title">
                                <a href="#">Patricia E. Looney</a>
                            </h4>
                            <span>July 20</span>
                        </div>
                    </article>
                    <article class="item">
                        <a href="#" class="thumb">
                            <span class="fullimage bg7" role="img"></span>
                        </a>

                        <div class="info">
                            <h4 class="title">
                                <a href="#">James G. Nelson</a>
                            </h4>
                            <span>July 21</span>
                        </div>
                    </article>
                </div>
            </aside>
        </div> *@
    </div>
</div>


<script>
    var isPhotoSelected = false;
    var isVideoSelected = false;

    function openFileInput(inputId) {
        document.getElementById(inputId).click();
    }

    function handlePhotoInput() {
        isPhotoSelected = true;

        var preview = document.getElementById('photoPreview');
        var input = document.getElementById('photoInput');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function handleVideoInput() {
        isVideoSelected = true;

        var preview = document.getElementById('videoPreview');
        var input = document.getElementById('videoInput');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function submitPost() {
        if (isPhotoSelected && isVideoSelected) {
            alert("Please Select One item");
            return;
        }

        var formData = new FormData(document.getElementById('postForm'));
        $.ajax({
            url: "/Home/Post",
            method: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log("Succes", data);
            },
            error: function (error) {
                console.error("Error", error);
            }
        });
        document.getElementById('message').value = '';

        document.getElementById('photoInput').value = '';

        document.getElementById('photoPreview').style.display = 'none';

        document.getElementById('videoInput').value = '';

        document.getElementById('videoPreview').style.display = 'none';
    }

</script>


